body {
  background-color: #282828;
  display:flex;
}

div#vueApp {
  display:flex;
  flex: 1;
  flex-direction: column;
}

.scene {
  display:flex;
  flex: 1;
}

svg {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.bottom {
	display:flex;
	flex-direction: row;
}

.bottom .info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.bottom .controls {
  display: flex;
  padding:10px;
}

.selected {
  border: 3px solid white;
}

.label {
  color: white;
}

/* https://3dtransforms.desandro.com/perspective */