<html>
    <head>
        <title>Spacer</title>
        <link href="/space.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <svg width="1200px" height="700px" style="border:1px solid gray;">
            <circle cx="100" cy="200" r="5" fill="red" id="redcircle1" />
            <circle style="border:1px solid gray;" cx="450" cy="150" r="5" fill="red" id="redcircle2" />
            <circle class="selected" cx="450" cy="300" r="20" fill="blue" id="bluecircle" />
        </svg>
        <!--http://requirejs.org/docs/release/2.2.0/comments/require.js-->
      <script src="/Universe.js"></script>
      <script src="/Vector.js"></script>
      <script src="/SpaceObject.js"></script>
      <script src="/Game.js"></script>
      <script src="/main.js"></script>
    </body>
</html>